body {
  padding: 0;
  margin: 0;
  font-size: 48px;
  background: rgba(20,20,20,1);
}

#logo {
    position:relative;
    width: 6em;
    height: 7em;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
}

#letter, #text {
    text-align: center;
    font-family: "Arial Black", sans-serif;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
    color: rgba(255,255,255,1);
}

#letter {
    transform: rotate(-40deg) translateX(-0.05em);
    font-size: 5em;
    line-height: 100%;
}

#text {
    margin-top: 0.2em;
    white-space: nowrap;
}

#interlace {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  overflow: hidden;
}

#interlace::after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(18, 16, 16, 0.1);
  opacity: 0;
  pointer-events: none;
}

#interlace::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
}